@model PicViewModel

@{
    ViewData["Title"] = "PIC Details";
}

<h2>PIC Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID PIC</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>PIC Name</th>
            <td>@Model.PicName</td>
        </tr>
    </tbody>
</table>

